
/*展示属性*/
 button{
  display: inline-block;
  min-width: 160px;
  font-size: 1.6rem;
  padding: 1.2rem 2.8rem;
  border:none;
  border-radius: 5px;
  background-color: #ff3d3e;
  color: #fff;
  cursor: pointer;
  margin-top: 1.5rem;
}
 button:hover{
  background-color: #E01909;
}

/*全局基础样式*/
html,body{
  background-color: #ffd748;
  font-size: 10px;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: #20194a;
}
body{
  padding-top: 6rem;
}
*,::before,::after{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.container{
  max-width: 1050px;
  margin: 0 auto;
}

/*header-block 样式*/
.header-block{
  display: flex;
}
.text-block{
  flex: 1;
  position: relative;
}
.balloon-logo{
  width: 272px;
}.balloon-logo img{
  width: 100%;
}
iframe{
  width: 114px; 
  height: 28px; 
  border: none;
  /*页面大于768px时如下样式（绝对定位）*/
  position: absolute;
  margin-top: -3.2rem;
  margin-left: 29rem;
}
.btn{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 240px;
  padding: 1.5rem 3.5rem;
  color: #fff;
  font-size: 2.1rem;
  background-color: #ff3d3e;
  margin-top: 1.5rem;
}
/*nth-child第几个子元素（不分类型），nth-of-type第几个该类型的子元素（分类型）*/
.btn:nth-of-type(1){
  margin-right: 2rem; 
}

.empty-block{
  width: 242px;
}
h2{
  font-size: 3.1rem;
  margin: 2rem 0 0;
  font-weight: 300
}
p{
  font-weight: 300;
  font-size: 2.1rem;
  margin: 1.1rem 0;
  line-height: 3.4rem;
}
/*header-block 样式结束*/

/*samples 样式开始*/
.samples{
  margin-top: 6rem;
  font-size: 0;
}
.samples h2{
  margin-top: 5rem;
}
code{
  /*display: inline-block;*/
  font-weight: normal;
  padding: 0.3rem;
  background-color: #fff8;
  font-family: Consolas, Monaco, monospace;
}
.sample{
  display: flex;
  margin-bottom: 2rem;
}
.sample pre{
  width: 60%;
  overflow-x: auto;
  background-color: #fff;
  display: inline-block;
}
.sample pre code{
  display: block;
  color: #222;
  font-size: 1.4rem;
  padding: 2.5rem 1.5rem;

}
.example{
  width: 30%;
  text-align: center;
}
/*samples 样式结束*/
hr{
  border:none;
  background-color: #ff3d2e;
  height: 10px;
  margin: 7rem 0;

}
footer{
  background-color: #ff3d2e;
  color: #fff;
  text-align: center;
  margin-top: 6rem;
  padding: 3rem;
  font-size: 1.7rem;
}
footer a{
  color: #fff;
  font-weight: bold;
}



/*放下面，防止覆盖*/
@media (max-width: 1080px) {
  .container{
    margin: 0 2rem;
  }
}
@media (max-width: 768px) {
  .empty-block{
    width: 0;
    height: 0;
  }
  iframe{
    position: relative;
    margin-top: 3rem;
    margin-left: 0;
  }
  .btn{
    width: 100%;
  }
  .btn:nth-of-type(1){
    margin-right: 0;
  }
  .sample{
    flex-direction: column;
  }
  .sample pre{
    width: 100%;
  }
  .example{
    width: 100%;
  }
}
